@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  font-family: "Raleway", sans-serif;
}

.blog1 {
  background-color: #e0dedecf;
}
.blog-post {
  background: #ffffff;
  box-shadow: 1px 1px 7px #a7a2a2;
  min-height: 270px;
  border-bottom: 4px solid #4ea75c;
  border-radius: 6px;
}
.footer {
}
